body {
    background-color: white;
    background-image: url("..portrait.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: right 0px bottom -700px;
}

.main-navigation{
    position: fixed;
    top: 0;
    width: 300px;
    margin-left: 50px;
    margin-top: 50px;
}

.main-navigation nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.main-navigation a {
    color: #333;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    transition: color 0.3s ease;
}

h2 {
    font-family: Garamond;
    font-size: 20px;
    font-style: italic;
    max-width: 800px;
    margin: 0 auto 20px;
    padding-right: 200px;
    line-height: 1.4;
    color: black;
    font-weight:lighter;
    text-align: left;
}

.main-content {
    font-family: Garamond;
    font-size: 16px;
    max-width: 800px;
    margin: 200px 45px 20px;
    line-height: 1.4;
    color: black;
    font-weight:lighter;
    text-align: left;
}




a {
    color: black;
    text-decoration: none;
}
