.main-navigation{
    position: fixed;
    top: 0;
    width: 300px;
    margin-left: 50px;
    margin-top: 50px;
}

.main-navigation nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.main-navigation a {
    color: #333;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.space {
    padding: 90px;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color:darkgray;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:#ccc;
}

.container {
    margin-top: 16px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
   font-family: Garamond;
    font-size: 44px;
    font-style: italic;
    margin: 0 0 20px 50px;
    padding: 0;
    line-height: 1.4;
    color: black;
    font-weight:lighter;
    text-align: left; 
}